/* Estilos generales para modo oscuro */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: #f2f2f2; /* Color de texto claro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos del juego para modo oscuro */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* Color de fondo oscuro */
  border-radius: 8px;
  border: 2px solid #f2f2f2; /* Bordes claros */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #f2f2f2; /* Color de texto claro */
}

/* Estilos del tablero para modo oscuro */
.board {
  display: grid;
  position: 'fixed';
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #f2f2f2; /* Bordes claros */
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 100px;
  background-color: #333;
  color: #f2f2f2;
}

.square:hover {
  background-color: #555;
}

.square:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

/* Estilos del estado del juego para modo oscuro */
.status {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #f2f2f2;
}

.status2{
  margin-bottom: 10px;
}

/* Estilos para el contenedor de etiqueta e input */
label{
  display: block;
  margin-bottom: 10px;
}

input[type="text"]{
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}